#block-menu-tree-menu-frontpage-menu {
    border: 1.5px solid #A42978;
}
#block-menu-block-1 ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

#block-menu-block-1 ul li {
  display: block;
  width: 17%;
  float: left;
  margin-right: 2%;
  position: relative;
  z-index: 10000;
}

#block-menu-block-1 ul li a {
  display: block;
  padding: 4px 12px!important;
}

#block-menu-block-1 ul li ul {
  list-style-type: none!important;
  position: absolute;
  top: 25px;
  left: 0px;
  min-width: 100%;
}

#block-menu-block-1 ul li ul li {
  width: 100%;
  display: none;
  list-style-image: none;
  list-style-type: none;
}

#shadow-wrapper, #shadow-bottom {
  -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Color=#999999, Strength=3, Direction=0),
    progid:DXImageTransform.Microsoft.Shadow(Color=#999999, Strength=3, Direction=90),
    progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Strength=3, Direction=180),
    progid:DXImageTransform.Microsoft.Shadow(Color=#999999, Strength=3, Direction=270);
}