@media (min-width: 768px) and (max-width: 979px) {
  .tb-megamenu .offset-12 {
    margin-left: -736px;
  }
  .tb-megamenu .offset-11 {
    margin-left: -673px;
  }
  .tb-megamenu .offset-10 {
    margin-left: -610px;
  }
  .tb-megamenu .offset-9 {
    margin-left: -547px;
  }
  .tb-megamenu .offset-8 {
    margin-left: -484px;
  }
  .tb-megamenu .offset-7 {
    margin-left: -421px;
  }
  .tb-megamenu .offset-6 {
    margin-left: -358px;
  }
  .tb-megamenu .offset-5 {
    margin-left: -295px;
  }
  .tb-megamenu .offset-4 {
    margin-left: -232px;
  }
  .tb-megamenu .offset-3 {
    margin-left: -169px;
  }
  .tb-megamenu .offset-2 {
    margin-left: -106px;
  }
  .tb-megamenu .offset-1 {
    margin-left: -43px;
  }
  .tb-megamenu .nav > li {
    font-size: 80%;
  }
}