@media (min-width: 980px) {
  .tb-megamenu.animate .tb-megamenu-li > .mega-dropdown-menu {
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
  }
  .tb-megamenu.animate .tb-megamenu-li.animating > .mega-dropdown-menu {
    display: block!important;
  }
  .tb-megamenu.animate .tb-megamenu-li.open > .mega-dropdown-menu,
  .tb-megamenu.animate .tb-megamenu-li.animating.open > .mega-dropdown-menu {
    opacity: 1;
  }
  .tb-megamenu.animate.zoom .tb-megamenu-li > .mega-dropdown-menu {
    transform: scale(0, 0);
    transform-origin: 20% 20%;
    -webkit-transform: scale(0, 0);
    -webkit-transform-origin: 20% 20%;
    -ms-transform: scale(0, 0);
    -ms-transform-origin: 20% 20%;
    -o-transform: scale(0, 0);
    -o-transform-origin: 20% 20%;
  }
  .tb-megamenu.animate.zoom .tb-megamenu-li.open > .mega-dropdown-menu {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  .tb-megamenu.animate.elastic .level0 > .tb-megamenu-li > .mega-dropdown-menu {
    transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
  }
  .tb-megamenu.animate.elastic .tb-megamenu-li > .mega-dropdown-menu {
    transform: scale(0, 1);
    transform-origin: 10% 0;
    -webkit-transform: scale(0, 1);
    -webkit-transform-origin: 10% 0;
    -ms-transform: scale(0, 1);
    -ms-transform-origin: 10% 0;
    -o-transform: scale(0, 1);
    -o-transform-origin: 10% 0;
  }
  .tb-megamenu.animate.elastic .tb-megamenu-li.open > .mega-dropdown-menu {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  .tb-megamenu.animate.slide .tb-megamenu-li.animating > .mega-dropdown-menu {
    overflow: hidden;
  }
  .tb-megamenu.animate.slide .tb-megamenu-li > .mega-dropdown-menu > div {
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: -100%;
  }
  .tb-megamenu.animate.slide .tb-megamenu-li.open > .mega-dropdown-menu > div {
    margin-top: 0%;
  }
  .tb-megamenu.animate.slide .tb-megamenu-li .tb-megamenu-li > .mega-dropdown-menu {
    min-width: 0;
  }
  .tb-megamenu.animate.slide .tb-megamenu-li .tb-megamenu-li > .mega-dropdown-menu > div {
    min-width: 200px;
    margin-top: 0;
    margin-left: -500px;
  }
  .tb-megamenu.animate.slide .tb-megamenu-li .tb-megamenu-li.open > .mega-dropdown-menu > div {
    margin-left: 0;
  }
  .tb-megamenu .nav > li {
    width: 20%;
  }
}
