@media (min-width: 1200px) {
  .tb-megamenu .offset-12 {
    margin-left: -1196px;
  }
  .tb-megamenu .offset-11 {
    margin-left: -1093px;
  }
  .tb-megamenu .offset-10 {
    margin-left: -990px;
  }
  .tb-megamenu .offset-9 {
    margin-left: -887px;
  }
  .tb-megamenu .offset-8 {
    margin-left: -784px;
  }
  .tb-megamenu .offset-7 {
    margin-left: -681px;
  }
  .tb-megamenu .offset-6 {
    margin-left: -578px;
  }
  .tb-megamenu .offset-5 {
    margin-left: -475px;
  }
  .tb-megamenu .offset-4 {
    margin-left: -372px;
  }
  .tb-megamenu .offset-3 {
    margin-left: -269px;
  }
  .tb-megamenu .offset-2 {
    margin-left: -166px;
  }
  .tb-megamenu .offset-1 {
    margin-left: -63px;
  }
}