@media (min-width: 600px) and (max-width: 767px) {
  .tb-megamenu .row,
  .tb-megamenu .row-fluid {
    width: 100%;
    margin-left: 0;
    *zoom: 1;
  }
  .tb-megamenu .row:before,
  .tb-megamenu .row:after,
  .tb-megamenu .row-fluid:before,
  .tb-megamenu .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .tb-megamenu .row:after,
  .tb-megamenu .row-fluid:after {
    clear: both;
  }
  .tb-megamenu .row [class*="span"],
  .tb-megamenu .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.7173913043478%;
    *margin-left: 2.6637432356783%;
  }
  .row [class*="span"]:first-child:not(.pull-right),
  .row-fluid [class*="span"]:first-child:not(.pull-right) {
    margin-left: 0;
  }
  .row [class*="span"].pull-right:first-child + [class*="span"]:not(.pull-right),
  .row-fluid [class*="span"].pull-right:first-child + [class*="span"]:not(.pull-right) {
    margin-left: 0;
  }
  .tb-megamenu .row .span12,
  .tb-megamenu .row-fluid .span12 {
    width: 100%;
    *width: 99.94635193133%;
  }
  .tb-megamenu .row .span11,
  .tb-megamenu .row-fluid .span11 {
    width: 91.440217391304%;
    *width: 91.386569322635%;
  }
  .tb-megamenu .row .span10,
  .tb-megamenu .row-fluid .span10 {
    width: 82.880434782609%;
    *width: 82.826786713939%;
  }
  .tb-megamenu .row .span9,
  .tb-megamenu .row-fluid .span9 {
    width: 74.320652173913%;
    *width: 74.267004105244%;
  }
  .tb-megamenu .row .span8,
  .tb-megamenu .row-fluid .span8 {
    width: 65.760869565217%;
    *width: 65.707221496548%;
  }
  .tb-megamenu .row .span7,
  .tb-megamenu .row-fluid .span7 {
    width: 57.201086956522%;
    *width: 57.147438887852%;
  }
  .tb-megamenu .row .span6,
  .tb-megamenu .row-fluid .span6 {
    width: 48.641304347826%;
    *width: 48.587656279157%;
  }
  .tb-megamenu .row .span5,
  .tb-megamenu .row-fluid .span5 {
    width: 40.08152173913%;
    *width: 40.027873670461%;
  }
  .tb-megamenu .row .span4,
  .tb-megamenu .row-fluid .span4 {
    width: 31.521739130435%;
    *width: 31.468091061765%;
  }
  .tb-megamenu .row .span3,
  .tb-megamenu .row-fluid .span3 {
    width: 22.961956521739%;
    *width: 22.90830845307%;
  }
  .tb-megamenu .row .span2,
  .tb-megamenu .row-fluid .span2 {
    width: 14.402173913043%;
    *width: 14.348525844374%;
  }
  .tb-megamenu .row .span1,
  .tb-megamenu .row-fluid .span1 {
    width: 5.8423913043478%;
    *width: 5.7887432356783%;
  }
  .tb-megamenu .span12 .row [class*="span"] {
    margin-left: 2.7173913043478%;
    *margin-left: 2.6637432356783%;
  }
  .tb-megamenu .span12 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span12 .row .span12 {
    width: 100%;
    *width: 99.94635193133%;
  }
  .tb-megamenu .span12 .row .span11 {
    width: 91.440217391304%;
    *width: 91.386569322635%;
  }
  .tb-megamenu .span12 .row .span10 {
    width: 82.880434782609%;
    *width: 82.826786713939%;
  }
  .tb-megamenu .span12 .row .span9 {
    width: 74.320652173913%;
    *width: 74.267004105244%;
  }
  .tb-megamenu .span12 .row .span8 {
    width: 65.760869565217%;
    *width: 65.707221496548%;
  }
  .tb-megamenu .span12 .row .span7 {
    width: 57.201086956522%;
    *width: 57.147438887852%;
  }
  .tb-megamenu .span12 .row .span6 {
    width: 48.641304347826%;
    *width: 48.587656279157%;
  }
  .tb-megamenu .span12 .row .span5 {
    width: 40.08152173913%;
    *width: 40.027873670461%;
  }
  .tb-megamenu .span12 .row .span4 {
    width: 31.521739130435%;
    *width: 31.468091061765%;
  }
  .tb-megamenu .span12 .row .span3 {
    width: 22.961956521739%;
    *width: 22.90830845307%;
  }
  .tb-megamenu .span12 .row .span2 {
    width: 14.402173913043%;
    *width: 14.348525844374%;
  }
  .tb-megamenu .span12 .row .span1 {
    width: 5.8423913043478%;
    *width: 5.7887432356783%;
  }
  .tb-megamenu .span11 .row [class*="span"] {
    margin-left: 2.9717682020802%;
    *margin-left: 2.9181201334107%;
  }
  .tb-megamenu .span11 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span11 .row .span11 {
    width: 91.440217391304%;
    *width: 91.386569322635%;
  }
  .tb-megamenu .span11 .row .span10 {
    width: 82.880434782609%;
    *width: 82.826786713939%;
  }
  .tb-megamenu .span11 .row .span9 {
    width: 74.320652173913%;
    *width: 74.267004105244%;
  }
  .tb-megamenu .span11 .row .span8 {
    width: 65.760869565217%;
    *width: 65.707221496548%;
  }
  .tb-megamenu .span11 .row .span7 {
    width: 57.201086956522%;
    *width: 57.147438887852%;
  }
  .tb-megamenu .span11 .row .span6 {
    width: 48.641304347826%;
    *width: 48.587656279157%;
  }
  .tb-megamenu .span11 .row .span5 {
    width: 40.08152173913%;
    *width: 40.027873670461%;
  }
  .tb-megamenu .span11 .row .span4 {
    width: 31.521739130435%;
    *width: 31.468091061765%;
  }
  .tb-megamenu .span11 .row .span3 {
    width: 22.961956521739%;
    *width: 22.90830845307%;
  }
  .tb-megamenu .span11 .row .span2 {
    width: 14.402173913043%;
    *width: 14.348525844374%;
  }
  .tb-megamenu .span11 .row .span1 {
    width: 5.8423913043478%;
    *width: 5.7887432356783%;
  }
  .tb-megamenu .span10 .row [class*="span"] {
    margin-left: 3.2786885245902%;
    *margin-left: 3.2250404559206%;
  }
  .tb-megamenu .span10 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span10 .row .span10 {
    width: 90.638930163447%;
    *width: 90.585282094778%;
  }
  .tb-megamenu .span10 .row .span9 {
    width: 81.277860326894%;
    *width: 81.224212258225%;
  }
  .tb-megamenu .span10 .row .span8 {
    width: 71.916790490342%;
    *width: 71.863142421672%;
  }
  .tb-megamenu .span10 .row .span7 {
    width: 62.555720653789%;
    *width: 62.502072585119%;
  }
  .tb-megamenu .span10 .row .span6 {
    width: 53.194650817236%;
    *width: 53.141002748567%;
  }
  .tb-megamenu .span10 .row .span5 {
    width: 43.833580980684%;
    *width: 43.779932912014%;
  }
  .tb-megamenu .span10 .row .span4 {
    width: 34.472511144131%;
    *width: 34.418863075461%;
  }
  .tb-megamenu .span10 .row .span3 {
    width: 25.111441307578%;
    *width: 25.057793238908%;
  }
  .tb-megamenu .span10 .row .span2 {
    width: 15.750371471025%;
    *width: 15.696723402356%;
  }
  .tb-megamenu .span10 .row .span1 {
    width: 6.3893016344725%;
    *width: 6.335653565803%;
  }
  .tb-megamenu .span9 .row [class*="span"] {
    margin-left: 3.6563071297989%;
    *margin-left: 3.6026590611294%;
  }
  .tb-megamenu .span9 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span9 .row .span9 {
    width: 89.672131147541%;
    *width: 89.618483078871%;
  }
  .tb-megamenu .span9 .row .span8 {
    width: 79.344262295082%;
    *width: 79.290614226412%;
  }
  .tb-megamenu .span9 .row .span7 {
    width: 69.016393442623%;
    *width: 68.962745373953%;
  }
  .tb-megamenu .span9 .row .span6 {
    width: 58.688524590164%;
    *width: 58.634876521494%;
  }
  .tb-megamenu .span9 .row .span5 {
    width: 48.360655737705%;
    *width: 48.307007669035%;
  }
  .tb-megamenu .span9 .row .span4 {
    width: 38.032786885246%;
    *width: 37.979138816576%;
  }
  .tb-megamenu .span9 .row .span3 {
    width: 27.704918032787%;
    *width: 27.651269964117%;
  }
  .tb-megamenu .span9 .row .span2 {
    width: 17.377049180328%;
    *width: 17.323401111658%;
  }
  .tb-megamenu .span9 .row .span1 {
    width: 7.0491803278689%;
    *width: 6.9955322591993%;
  }
  .tb-megamenu .span8 .row [class*="span"] {
    margin-left: 4.1322314049587%;
    *margin-left: 4.0785833362892%;
  }
  .tb-megamenu .span8 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span8 .row .span8 {
    width: 88.482632541133%;
    *width: 88.428984472464%;
  }
  .tb-megamenu .span8 .row .span7 {
    width: 76.965265082267%;
    *width: 76.911617013597%;
  }
  .tb-megamenu .span8 .row .span6 {
    width: 65.4478976234%;
    *width: 65.394249554731%;
  }
  .tb-megamenu .span8 .row .span5 {
    width: 53.930530164534%;
    *width: 53.876882095864%;
  }
  .tb-megamenu .span8 .row .span4 {
    width: 42.413162705667%;
    *width: 42.359514636998%;
  }
  .tb-megamenu .span8 .row .span3 {
    width: 30.895795246801%;
    *width: 30.842147178131%;
  }
  .tb-megamenu .span8 .row .span2 {
    width: 19.378427787934%;
    *width: 19.324779719265%;
  }
  .tb-megamenu .span8 .row .span1 {
    width: 7.8610603290676%;
    *width: 7.8074122603981%;
  }
  .tb-megamenu .span7 .row [class*="span"] {
    margin-left: 4.750593824228%;
    *margin-left: 4.6969457555585%;
  }
  .tb-megamenu .span7 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span7 .row .span7 {
    width: 86.98347107438%;
    *width: 86.929823005711%;
  }
  .tb-megamenu .span7 .row .span6 {
    width: 73.96694214876%;
    *width: 73.913294080091%;
  }
  .tb-megamenu .span7 .row .span5 {
    width: 60.950413223141%;
    *width: 60.896765154471%;
  }
  .tb-megamenu .span7 .row .span4 {
    width: 47.933884297521%;
    *width: 47.880236228851%;
  }
  .tb-megamenu .span7 .row .span3 {
    width: 34.917355371901%;
    *width: 34.863707303231%;
  }
  .tb-megamenu .span7 .row .span2 {
    width: 21.900826446281%;
    *width: 21.847178377611%;
  }
  .tb-megamenu .span7 .row .span1 {
    width: 8.8842975206612%;
    *width: 8.8306494519916%;
  }
  .tb-megamenu .span6 .row [class*="span"] {
    margin-left: 5.586592178771%;
    *margin-left: 5.5329441101014%;
  }
  .tb-megamenu .span6 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span6 .row .span6 {
    width: 85.035629453682%;
    *width: 84.981981385012%;
  }
  .tb-megamenu .span6 .row .span5 {
    width: 70.071258907363%;
    *width: 70.017610838694%;
  }
  .tb-megamenu .span6 .row .span4 {
    width: 55.106888361045%;
    *width: 55.053240292376%;
  }
  .tb-megamenu .span6 .row .span3 {
    width: 40.142517814727%;
    *width: 40.088869746057%;
  }
  .tb-megamenu .span6 .row .span2 {
    width: 25.178147268409%;
    *width: 25.124499199739%;
  }
  .tb-megamenu .span6 .row .span1 {
    width: 10.21377672209%;
    *width: 10.160128653421%;
  }
  .tb-megamenu .span5 .row [class*="span"] {
    margin-left: 6.7796610169492%;
    *margin-left: 6.7260129482796%;
  }
  .tb-megamenu .span5 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span5 .row .span5 {
    width: 82.402234636872%;
    *width: 82.348586568202%;
  }
  .tb-megamenu .span5 .row .span4 {
    width: 64.804469273743%;
    *width: 64.750821205073%;
  }
  .tb-megamenu .span5 .row .span3 {
    width: 47.206703910615%;
    *width: 47.153055841945%;
  }
  .tb-megamenu .span5 .row .span2 {
    width: 29.608938547486%;
    *width: 29.555290478817%;
  }
  .tb-megamenu .span5 .row .span1 {
    width: 12.011173184358%;
    *width: 11.957525115688%;
  }
  .tb-megamenu .span4 .row [class*="span"] {
    margin-left: 8.6206896551724%;
    *margin-left: 8.5670415865029%;
  }
  .tb-megamenu .span4 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span4 .row .span4 {
    width: 78.64406779661%;
    *width: 78.590419727941%;
  }
  .tb-megamenu .span4 .row .span3 {
    width: 57.28813559322%;
    *width: 57.234487524551%;
  }
  .tb-megamenu .span4 .row .span2 {
    width: 35.932203389831%;
    *width: 35.878555321161%;
  }
  .tb-megamenu .span4 .row .span1 {
    width: 14.576271186441%;
    *width: 14.522623117771%;
  }
  .tb-megamenu .span3 .row [class*="span"] {
    margin-left: 11.834319526627%;
    *margin-left: 11.780671457958%;
  }
  .tb-megamenu .span3 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span3 .row .span3 {
    width: 72.844827586207%;
    *width: 72.791179517537%;
  }
  .tb-megamenu .span3 .row .span2 {
    width: 45.689655172414%;
    *width: 45.636007103744%;
  }
  .tb-megamenu .span3 .row .span1 {
    width: 18.534482758621%;
    *width: 18.480834689951%;
  }
  .tb-megamenu .span2 .row [class*="span"] {
    margin-left: 18.867924528302%;
    *margin-left: 18.814276459632%;
  }
  .tb-megamenu .span2 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span2 .row .span2 {
    width: 62.721893491124%;
    *width: 62.668245422455%;
  }
  .tb-megamenu .span2 .row .span1 {
    width: 25.443786982249%;
    *width: 25.390138913579%;
  }
  .tb-megamenu .span1 .row [class*="span"] {
    margin-left: 46.511627906977%;
    *margin-left: 46.457979838307%;
  }
  .tb-megamenu .span1 .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .tb-megamenu .span1 .row .span1 {
    width: 40.566037735849%;
    *width: 40.51238966718%;
  }
  .tb-megamenu .spanfirst {
    margin-left: 0 !important;
    clear: left;
  }
}
