/* responsive panel regions*/
.boxes {
  margin: 0 auto;
}
.box {
  display: inline-block;
}
.one {
  background: transparent;
}
.two {
  background: transparent;
}
.three {
  background: transparent;
}
.four {
  background: transparent;
}
/* 768px */
@media only screen and (max-width: 48em) {
  .boxes {
    display: table;
    width: 100%;
  }
  .box {
    display: block;
    width: 100%;
  }
  .three {
    display: table-caption;
  }
  .four {
    display: table-header-group;
  }
  .one {
    display: table-footer-group;
  }
}
/* kultunaut kalender */
#nautcontent h1 {
  display: none;
}

/*rss */
.rssblock-itemlist .blocklist-item {
  margin-bottom: 0px;
}
.rssblock-itemlist .blocklist-item .rss-link a {
  font-weight: bold;
}
div.rss-image a {
  float: none;
}
.rssblock-itemlist .more-link {
  margin-right: 10px;
}

.rssblock-itemlist {
  padding-top: 10px;
}

.rssblock-itemlist .rss-description p {
  padding-right: 10px;
}

.rssblock-itemlist .rss-description b {
  display: block;
  float: right;
}

.rssblock-itemlist .rss-description img {
  display: block;
}

.rssblock-itemlist .blocklist-item {
  margin-bottom: 10px;
}
/* =Reset
 -------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  background-color: #ccc;
  line-height: 1;
}
img {
  max-width: 100%
}
ol, ul {
  list-style: none;
}


/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}
blockquote, q {
  quotes: "" "";
}
a img {
  border: 0;
}

/* Block elements */
header, hgroup, footer, section, article, aside {
  display: block;
}

/* Common Classes & Wrap */

#wrapper {
  margin: 0 auto 2em;
  max-width: 1000px;
  border-radius: 5px;
}

#shadow-wrapper,
#shadow-bottom,
#shadow-bottom-front {
  box-shadow: 0px 0px 7px 7px #999;
  border-radius: 5px;
  margin-top: 20px;
}

#header hgroup {
  margin: 0 3%;
  padding: 2.5em 0;
}
#navigation div {
  margin: 0;
}

#primary {
  float: left;
  margin: 0 -30% 0 0;
  width: 100%;
}
#content {
  margin: 0 33% 0 3%;
  width: 64%;
}
#sidebar {
  float: right;
  margin-right: 3%;
  width: 27%;
}

/* tabroll */
#featured .ui-tabs-nav li.ui-tabs-selected:after {
  border-right-color: #60ae97;
}
#featured .ui-tabs-nav .ui-tabs-selected a {
  background-color: #60ae97;
}
#featured .ui-tabs-nav .ui-tabs-nav-item a:hover {
  background-color: #80ceb7;
}

#featured .ui-tabs-nav li.ui-tabs-selected:hover:after {
  border-right-color: #80ceb7;
}

/* Right Content */
.left-sidebar #primary {
  float: right;
  margin: 0 0 0 -30%;
  width: 100%;
}
.left-sidebar #content {
  margin: 0 3% 0 33%;
  width: 64%;
}
.left-sidebar #sidebar {
  float: left;
  margin-left: 3%;
  margin-right: 0;
  width: 27%;
}

.wide-sidebar #primary {
  float: left;
  margin: 0 -35.5% 0 0;
  width: 100%;
}
.wide-sidebar #content {
  margin: 0 38.6% 0 3%;
  width: 58.4%;
}
.wide-sidebar #sidebar {
  float: right;
  margin-right: 3%;
  width: 32.5%;
}

/* Right Content */
.wide-sidebar.left-sidebar #primary {
  float: right;
  margin: 0 0 0 -33%;
  width: 100%;
}
.wide-sidebar.left-sidebar #content {
  margin: 0 3% 0 38.6%;
  width: 58.4%;
}
.wide-sidebar.left-sidebar #sidebar {
  float: left;
  margin-left: 3%;
  margin-right: 0;
  width: 30%;
}

.no-sidebars #primary {
  margin-bottom: 1em;
}
.no-sidebars #content {
  margin: 0 3%;
  position: relative;
  width: auto;
}

body, input, textarea {
  color: #373737;
  font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.625;
}

a {
  color: #A53D78;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: none;
}
a:active{
  text-decoration: underline;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  clear: both;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 0.8125em;
}
h4 {
  font-size: 20px;
  margin: 0 0 0.5em;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 2em;
}

/* Text elements */
p {
  margin-bottom: 2em;
}
ul, ol {
  margin: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}
dl {
  margin: 0 2em;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 2em;
}
strong {
  font-weight: bold;
}
cite, em, i {
  font-style: italic;
}
blockquote {
  font-family: Georgia, "Bitstream Charter", serif;
  font-style: italic;
  font-weight: normal;
  margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
  font-style: normal;
}
blockquote cite {
  color: #666;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
pre {
  background: #f4f4f4;
  font: 13px "Courier 10 Pitch", Courier, monospace;
  line-height: 1.5;
  margin-bottom: 2em;
  overflow: auto;
  padding: 0.75em 2em;
}
code, kbd {
  font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
  border-bottom: 1px dotted #666;
  cursor: help;
}
address {
  display: block;
  margin: 0 0 2em;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup, sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  border: 1px solid #ddd;
  border-right: none;
  background: #fff;
}

th, th.views-field-field-navn a, th.views-field-field-last-name a {
  font-weight: bold;
  padding: 10px 10px;
  background: #555;
  color: #fff;
}

tr {
  padding: 5px 5px;
}

td {
  padding: 5px 10px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.clear {
  clear: both;
}
/* close commented backslash hack */
.displayblock {
  display: block;
}
.displaynone {
  display: none;
}

#header {
  background-color: #e1d8cd;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
#site-name {
  margin-right: 270px;
  padding: 0;
  font-size: 36px;
  line-height: 46px;
}
#site-name a {
  color: #111;
  font-weight: bold;
  text-decoration: none;
}
#site-name a:hover, #site-name a:focus, #site-name a:active {
  color: #1982d1;
}
#site-slogan {
  color: #7a7a7a;
  font-size: 14px;
  margin: 0 270px 0 0;
}
#header img {
  height: auto;
  max-width: 50%;
  float: left;
  margin-bottom: 20px;
}
#header #site-logo {
  margin: 0 3%;
  padding: 1.5em 0;
}

/* =Content
 ----------------------------------------------- */

#main {
  background-color: #fff;
  clear: both;
  padding: 1em 0 0;
}

.node h2.title, h1.page-title, .node h2.title a, h1.page-title a {
  color: #222222;
  text-decoration: none;
}
.node h2.title, h1.page-title {
  clear: both;
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: 0.3em;
  padding-top: 15px;
}
h2.pane-title {
  font-size: 26px;
  font-weight: bold;
}
#main #content .node-teaser {
  padding-bottom: 30px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 15px;
}

.node-teaser img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0;
  float: left;
}
.page-node #content-wrap img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0;
}

.node-teaser p {
  margin-bottom: 1em;
}

.region-content-top .block, #footer-area .block {
  background-color: #FFFFFF;
  clear: both;
  margin-bottom: 2em;
  font-size: 12px;
}

.region-content-top .block > h2, #footer-area .block > h2 {
  border-bottom: 2px solid #CCCCCC;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 0 1em 0.5em;
  background: #1A3849;
}

#sidebar .block {
  background-color: #FFFFFF;
  border-bottom: 2px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  clear: both;
  margin-bottom: 2em;
  padding: 0.5em 1em 1em;
  font-size: 12px;
}

#sidebar .block > h2 {
  border-bottom: 2px solid #CCCCCC;
  color: #222222;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 0 -0.75em 1em;
  padding: 0 1em 0.5em;
}

.region-content-top .block p, #footer-area .block p, #sidebar .block p {
  margin-bottom: 1em;
}

.region-content-top .block img, #footer-area .block img, #sidebar .block img {
  height: auto;
  max-width: 97.4%;
}

/* =Footer
 ----------------------------------------------- */

#footer-bottom,
#footer-bottom-front {
  clear: both;
  background-color: transparent;
}
#footer-area {
  overflow: hidden;
}
#bottom-block-wrap {
  background: none repeat scroll 0 0 white;
}
#bottom-block-wrap.in1 .bottom-block {
  margin-bottom: 2.5em;
}

#bottom-block-wrap.in2 .bottom-block {
  float: left;
  width: 48.5%;
}
#bottom-block-wrap.in2 .bottom-block + .bottom-block {
  float: right;
}

#bottom-block-wrap.in3 .bottom-block {
  border-right: 1px solid #1A3849;
  min-height: 340px;
  float: left;
  width: 33.25%;
}
#bottom-block-wrap.in3 .bottom-block .content {
  margin-left: 15px;
}
#bottom-block-wrap.in3 .bottom-block + .bottom-block + .bottom-block {
  margin-right: 0;
  border-right: 0;
}
#bottom-block-wrap.in3 .bottom-block + .bottom-block + .bottom-block .content {
  border-right: 0px;
}
#footer-block-wrap.in1 .footer-block {
  margin-bottom: 2.5em;
}

#footer-block-wrap.in2 .footer-block {
  float: left;
  width: 62%;
}
#footer-block-wrap.in2 .footer-block + .footer-block {
  float: right;
}

#footer-block-wrap.in3 .footer-block {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 21%;
}
#footer-block-wrap.in3 .footer-block + .footer-block + .footer-block + .footer-block {
  margin-right: 0;
}
.region-footer-first, .region-footer-second, .region-footer-third {
  border-right: 1px solid white;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 150px;
}
#footer-block-wraps h2 {
  color: #333333 !important;
  font-size: 13.65px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

#footer-block-wrap a {
  color: #333333 !important;
  list-style: none;
  text-decoration: none;
}
#footer-block-wrap ul {
  list-style: none;
  padding: 0;
}
#bottom {
  /*border-top: 1px solid #FFFFFF;*/
  clear: both;
  font-size: 0.9em;
  line-height: 1.8em;
  padding-top: 5px;
  text-align: center;
  margin-top: 4px;
}
#bottom a {
  color: #555;
  font-weight: bold;
}
#bottom .copyright, #bottom .credit {
  display: inline;
  width: 47%;
}
#bottom .copyright {
  clear: both;
  margin-left: 3%;
  float: left;
  text-align: left;
}
#bottom .credit {
  text-align: right;
}
/* Social Profile */

.social-profile {
  margin: 0;
  margin-left: 10px;
  width: auto;
}
.social-profile ul {
  list-style: none;
}
.social-profile li {
  float: left;
  margin-right: 5px;
}
.social-profile li [class*='icon-'] {
  font-size: 25px;
}
.social-profile li a {
  color: gray !important;
}
.social-profile ul li.rss a {
  background-position: -88px 0;
}

/* -------------- Form Elements  ------------- */

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.fieldset-wrapper {
  margin-top: 25px;
}

.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}

.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0;
}

.filter-wrapper .form-item label {
  margin-right: 10px;
}

.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}

.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}

fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  display: block;
  height: 2em;
  left: -1px;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

fieldset .fieldset-wrapper {
  padding: 0 10px;
}

fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  font-style: italic;
}

input {
  margin: 2px 0;
  padding: 4px;
}

input, textarea {
  font-size: 0.929em;
}

textarea {
  line-height: 1.5;
}

textarea.form-textarea, select.form-select {
  padding: 4px;
}

input.form-text, textarea.form-textarea, select.form-select {
  border: 1px solid #a42978;
}

.password-suggestions ul li {
  margin-left: 1.2em;
}

.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}

.form-item label {
  font-size: 0.929em;
}

.form-type-radio label, .form-type-checkbox label {
  margin-left: 4px;
}

.form-type-radio .description, .form-type-checkbox .description {
  margin-left: 2px;
}

.form-actions {
  padding-top: 10px;
}

/* Contact Form */

.contact-form #edit-name {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.contact-form #edit-mail {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.contact-form #edit-subject {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.contact-form #edit-message {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.contact-form .resizable-textarea .grippie {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -khtml-border-bottom-left-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Comment form */

.comment-form label {
  float: left;
  font-size: 0.929em;
}

.comment-form input, .comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.comment-form .form-type-textarea label {
  float: none;
}

.comment-form .form-item, .comment-form .form-radios, .comment-form .form-type-checkbox, .comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden;
}

.comment-form .form-type-checkbox, .comment-form .form-radios {
  margin-left: 120px;
}

.comment-form .form-type-checkbox label, .comment-form .form-radios label {
  float: none;
  margin-top: 0;
}

.comment-form input.form-file {
  width: auto;
}

.comment-form .form-text {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px;
}

#content h2.comment-form {
  margin-bottom: 0.5em;
}

.comment-form .form-textarea {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.comment-form fieldset.filter-wrapper .fieldset-wrapper, .comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.filter-wrapper label {
  width: auto;
  float: none;
}

.filter-wrapper .form-select {
  min-width: 120px;
}

.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em;
}

#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em;
}

#edit-actions input {
  margin-right: 0.6em;
}

/* Other Overrides */

div.password-suggestions {
  border: 0;
}

.ui-widget-overlay {
  background: #222222;
  opacity: 0.7;
}

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em;
}

#forum .name {
  font-size: 1.083em;
}

#forum .description {
  font-size: 1em;
}

/* Form Buttons */

button, input[type="submit"], input[type="reset"], input[type="button"] {
  /* IE10 */
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 white;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  -o-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  text-shadow: 0 1px 0 white;
  position: relative;
  font-weight: bold;
  padding: 4px .8em 5px .8em;
  font-size: 13px;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  /* IE10 */
  background-image: -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset 0 1px 0 0 white;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  -o-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  cursor: pointer;
}

button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

.region-header #block-search-form {
  float: right;
  margin-top: 25px;
}

#block-search-form {
  padding-bottom: 7px;
}

#block-search-form .content {
  margin-top: 0;
}

#search-form input#edit-keys, #block-search-form .form-item-search-block-form input {
  float: left;
  font-size: 1em;
  /*height: 1.143em;*/
  margin-right: 5px;
  width: 9em;
}

#search-block-form input.form-submit, #search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(images/search-button.png) no-repeat center top;
  overflow: hidden;
}

#search-block-form input.form-submit:hover, #search-block-form input.form-submit:focus, #search-form input.form-submit:hover, #search-form input.form-submit:focus {
  background-position: center bottom;
}

#search-form .form-item-keys label {
  display: block;
}

ol.search-results {
  padding-left: 0;
}

.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em;
}

.search-results li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 1em;
}

.search-results .search-snippet-info {
  padding-left: 0;
}

.submitted {
  padding: 4px 0px;
  border-radius: 4px;
  color: #383838;
  clear: both;
  display: block;
  margin-bottom: 2px;
}

footer .links.inline {
  display: inline-table;
}
.links li a {
  color: #A42978;
  padding: 4px 5px;
  font-weight: normal;
}

.links li a:hover {
  background-color: #D7D5D3;
}

/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/
#content table.cke_editor {
  background: transparent;
  border: 0;
}
#content table.cke_editor td {
  background: transparent;
  padding: 0;
  border: 0;
}

/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/
.poll .vote-form .choices .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
}

.poll .vote-form .choices {
  margin: 0;
}

.form-item label {
  font-size: 13px;
  font-weight: bold;
}

/*-------------------------------------------*
/* Menus and item lists
/*-------------------------------------------*/

/* Menu tree*/
.expanded .menu {
  margin-left: 15px;
}
.block-menu-tree, .pane-menu-tree {
  border: 1.5px solid rgba(166, 48, 124, 0.5);
  padding: 10px;
}
.block-menu-tree a, .pane-menu-tree a {
  padding: 10px;
  color: black;
}
.block.block-menu-tree .icon-play, .pane-menu-tree .icon-play {
  color: #A42978;
  float: left;
  margin-top: 5px;
}
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}
li a.active {
  text-decoration: underline;
}
ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: underline;
}

ul.secondary a.active {
  border-bottom: none;
}

ul.inline, ul.links.inline {
  margin-left: 0;
}

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-tagging {
  margin: 0 0 10px 0;
}

.field-name-field-tagging a {
  -moz-transition: opacity 0.2s ease-in-out 0s;
  background: none repeat scroll 0 0 #a42978;
  color: #FFFFFF !important;
  line-height: 1em !important;
  margin-bottom: 3px;
  margin-right: 3px;
  opacity: 0.9;
  padding: 4px 6px;
  border-radius: 5px;
}

.field-name-field-tagging a:hover {
  background-color: #D7D5D3;
}

.field-name-field-tagging .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tagging div {
  display: inline;
}

#main .field-label {
  color: #000;
}

#main .field-items .field-item {
}

/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/
.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.profile .user-picture {
  border: 1px solid #999;
  padding: 5px;
  box-shadow: 0px 0px 2px 2px #ccc;
}

.profile .field {
  padding: 2px 10px;
}

.profile .field-label {
  width: 120px;
}

.profile .street-block {
  
}

.profile .field-items:first-child {
  width: auto;
}

.profile .field-items {
  display: block;
  width: 80%;
}

.profile .field-items p {
  margin: 0;
}

.profile .field-item {
  right: auto;
}

.profile dl .content .field {
  background-color: #eee;
  margin-top: 10px;
}

.profile dl .content .field.field-name-field-images {
  padding: 0;
}

.profile dl .content .field.field-name-field-images .galleria-thumbnails .galleria-image {
  border: 1px solid #999;
}

.password-parent {
  width: 36em;
}

/* Comments */

.comment h2.title {
  margin-bottom: 1em;
}

.comment div.user-picture img {
  margin-left: 0;
}

.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}

.comment .attribution {
  display: table-cell;
  padding: 0 35px 0 0;
  vertical-align: top;
  overflow: hidden;
}

.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}

.comment .attribution .username {
  white-space: nowrap;
}

.comment .comment-submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}

.comment .comment-submitted .comment-time {
  font-size: 0.786em;
}

.comment .comment-submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}

.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}

.comment .comment-arrow {
  background: url(images/comment-arrow.gif) no-repeat 0 center transparent;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -36px;
  margin-top: 15px;
  position: absolute;
  width: 20px;
}

.comment .comment-text {
  padding: 0 25px 10px 35px;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
  border-left: 1px solid #d3d7d9;
}

.comment .indented {
  margin-left: 40px;
}

.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}

.comment .comment-text .comment-arrow {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

/*-------------------------------------------*
/* Navigation
/*-------------------------------------------*/
.item-list .pager {
}

.item-list .pager li {
  background: #cfcfcf;
  border-radius: 3px;
  margin-right: 4px;
  text-shadow: 1px 1px #fff;
}
/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-category {
  margin: 0 0 10px 0;
  display: inline;
}

.field-name-field-category .field-items  .field-item a {
  -moz-transition: opacity 0.2s ease-in-out 0s;
  background: none repeat scroll 0 0 #a42978;
  color: #FFFFFF !important;
  line-height: 1em !important;
  margin-bottom: 3px;
  margin-right: 3px;
  opacity: 0.9;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}

.field-name-field-category .field-items .field-item a:hover {
  background-color: #D7D5D3;
}

.field-name-field-category div {
  display: inline;
}

/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px;
}

.field-name-taxonomy-forums .field-items {
}
#forum .title {
  font-size: 16px;
}

#forum .submitted {
  font-size: 12px;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  background: transparent;
  padding: 0;
}

#forum .container {
  background: #a1a1a1;
  color: #fff;
}

#forum .container a {
  color: #000;
  font-weight: bold;
}

#forum div.indent {
  margin-left: 2px;
}

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0;
}

#forum th {
  background: #434343;
  text-shadow: none;
  color: #fff;
}

#forum th a {
  color: #fff;
}

#forum td.forum .icon, #forum .icon div {
  background: url(images/no-new-posts.png) no-repeat;
  width: 35px;
  height: 35px;
}

#forum .name a {
  font-size: 16px;
}

#footer-block-wrap {
  background-color: rgba(204, 204, 204, 0.5);
}

#footer-block-wrap .footer-block {
  background-color: transparent;
}

/* =Responsive Structure
 ----------------------------------------------- */
@media screen and (min-width: 961px) {
}
@media screen and (min-width: 1061px) {
  .region-header #block-search-form {
    width: 430px !important;
  }

  .region-header #block-search-form .form-item-search-block-form .form-text {
    width: 20em;
  }
}

/* Smaller than standard 1060 (devices and browsers) */
@media screen and (max-width: 1060px) {
  .region-header #block-search-form {
    width: 390px !important;
    margin-top: 19px;
  }

  .region-header #block-search-form .form-item-search-block-form .form-text {
    width: 17em;
  }

  #wrapper {
    max-width: 900px;
  }

  #nav-slider .nav-previous, #nav-slider .nav-next {
    top: 94px;
  }
}

@media screen and (max-width: 960px) {
  .region-header #block-search-form .form-item-search-block-form .form-text {
    width: 12em;
  }

  .region-header #block-search-form div.content {
    float: left
  }

  .region-header #block-search-form {
    margin-top: 18px;
    width: 310px !important;
  }
  /*  ipad */
  #wrapper {
    max-width: 708px;
  }
  /* Simplify the basic layout */
  #main #content {
    margin: 0 3%;
    width: auto;
  }
  #nav-slider .nav-previous, #nav-slider .nav-next {
    top: 137px;
  }
  #main #sidebar {
    float: none;
    margin: 0 3%;
    width: auto;
  }
  #footer-block-wrap.in1 .footer-block {
    float: none;
    margin-right: 0;
    width: auto;
  }
  #footer-block-wrap.in2 .footer-block {
    float: none;
    margin-right: 0;
    width: auto;
  }
  #footer-block-wrap.in3 .footer-block {
    float: none;
    margin-right: 0;
    width: auto;
  }
  #bottom-block-wrap.in2 .bottom-block {
    float: none;
    margin-right: 0;
    width: auto;
  }
  #bottom-block-wrap.in3 .bottom-block {
    float: none;
    margin-right: 0;
    width: auto;
    border-right: none;
  }

}

@media screen and (max-width: 767px) {
  /* galleria images */
  .galleria-container {
    width: 100%!important;
  }
  .region-footer-first, .region-footer-second, .region-footer-third {
    border-bottom: 1px solid white;
    border-right: none;
  }
  #nautcontent table {
    width: 70%;
  }
  .region-header #block-search-form .form-item-search-block-form .form-text {
    position: absolute;
    right: 112px;
    width: 70%;
    width: -webkit-calc(100% - 150px);
    width: -o-calc(100% - 150px);
    width: -moz-calc(100% - 150px);
    width: calc(100% - 150px);
    float: none;
  }

  #edit-submit {
    position: absolute;
    right: 80px;
    width: auto;
  }

  .region-header #block-search-form div.content {

  }

  .region-header #block-search-form {
    margin-top: 8px;
    width: 100%;
  }
  /*  small tablet */
  #wrapper {
    max-width: 480px;
  }
  /* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */
  body {
    padding: 0;
  }
  body, input, textarea {
    font-size: 13px;
  }
  #header, #footer-bottom {
    border-radius: 0;
  }
  #main, #footer-block-wrap {
    padding-top: 1em;
  }
  #header hgroup {
    padding: 5.30625em 0 2em 0;
    text-align: center;
  }
  #site-name {
    font-size: 28px;
    line-height: 38px;
  }
  #header #site-logo {
    text-align: center;
  }
  #nav-slider .nav-previous, #nav-slider .nav-next {
    top: 82px;
  }
  #slider, .block, #footer-block-wrap .footer-block {
    margin-bottom: 1em;
  }
  blockquote {
    margin: 0;
  }
  blockquote.pull {
    font-size: 17px;
  }
  /* Reposition the site title and description slightly */
  #site-name {
    padding: 0;
  }
  #site-name, #site-slogan {
    margin-right: 0;
  }
  /* Floated content doesn't work well at this size */
  .alignleft, .alignright {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
  .social-profile {
    float: none;
    text-align: center;
  }
  .social-profile ul li {
    display: inline-block;
    float: none;
    margin: 0 0 10px 10px;
  }
  #bottom .copyright, #bottom .credit {
    display: block;
    margin-left: 3%;
    float: none;
    text-align: center;
    width: 97%;
  }
}
@media (max-device-width: 650px) {
  .region-header #block-search-form .form-item-search-block-form .form-text {
    /*width: 30em;*/
  }
  .tinynav {
    background-image: url("images/select-arrow.png");
  }
}

@media only screen and (max-width: 480px) , only screen and (max-device-width: 480px) {
  /* CSS overrides for mobile here */
  .region-header #block-search-form .form-item-search-block-form .form-text {
    width: 320px;
  }
}
/*
 @media only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
 /* CSS overrides for mobile here */ /*
 .region-header #block-search-form .form-item-search-block-form .form-text {
 width: 160px!important;
 border: 1px solid red;
 }
 }
 */

@media screen and (max-width: 479px) {

  #site-name {
    font-size: 26px;
    line-height: 36px;
  }
  #site-slogan {
    font-size: 12px;
  }
  #nav-slider .nav-previous, #nav-slider .nav-next {
    top: 57px;
  }
  .comment .attribution, .comment .comment-text {
    display: inline-block;
  }
  #bottom .copyright, #bottom .credit {
    font-size: 9px;
  }
}
@media screen and (max-width: 319px) {
  /* small phone */
  #wrapper {
    max-width: 100%;
  }
  #wrapper {
    margin-top: 0;
  }
  #header {
    border-top: none;
  }
  input[type="text"] {
    width: 98%;
  }
  #nav-slider .nav-previous, #nav-slider .nav-next {
    top: 45px;
  }
}

/* =Print
 ----------------------------------------------- */

@media print {
  body {
    background: none !important;
    font-size: 10pt;
  }
  #wrapper {
    clear: both !important;
    display: block !important;
    float: none !important;
    max-width: 100%;
    position: relative !important;
  }
  #header {
    border-top: none !important;
    padding: 0;
  }
  #header #block-search-form {
    float: right;
  }
  #header hgroup {
    margin: 0;
  }
  #site-name a {
    font-size: 21pt;
  }
  #site-slogan {
    font-size: 10pt;
  }
  #header img {
    display: none;
  }
  #navigation {
    display: none;
  }
  #main {
    border-top: none;
    box-shadow: none;
  }
  #primary {
    float: left;
    margin: 0;
    width: 100%;
  }
  #content {
    margin: 0;
    width: auto;
  }
  .widget-area {
    display: none;
  }
  #footer-bottom {
    display: none;
  }

}

body.cke_editable {
  background: #fff;
}

#block-user-new .item-list {
  margin: 10px 10px 0px 0px;
}

#block-comment-recent .item-list {
  margin: 10px 10px 0px 0px;
}

#block-search-form input[name=op],
#block-search-form button
{
  height: 27px!important;
  margin-top: 2px!important;
  padding: 3px 6px!important;
  font-size: 26px;
  line-height: 1;
  border: 1px solid #a42978;
}

#block-search-form input[name=search_block_form] {
  margin-top: 2px!important;
  height: 17px;
}